body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;

  /* background-color: blue; */
  -moz-osx-font-smoothing: grayscale;

overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 600px) {
  .MobileNavBar {
    /* background-color: red !important; */
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    /* width: 100% !important; */
  }
  .navbar-toggler {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .MainSideNav {
    display: none;
  }
}


.bg-light-grey{
background-color: #c5c5c5;
}